<div class="card-first">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card-img-top-third"><strong>ACERCA DE...</strong></div>
                <div class="card-body">
                <h5 class="card-title">¡¡HOLA!!</h5>
                <p class="card-text">Soy Alexis, vivo en Mendoza provincia de Argentina, desde chico que estoy interesado en todo lo referido con la programación 
                    y la informatica. <br> Tengo 31 años y en este momento me encuentro cursando Desarrollo Web Full Stack.<br>
                    Mi objetivo es lograr una base solida en la programacion para poder desempeñarme con fluidez en el rubro.<br>
                    Aún no poseo ningun proyecto para mostrar.
                </p>
                <a href="#" class="btn btn-primary">Saber más</a>
                </div>
            </div>
        </div>
    </div>
  </div>