<div class="card-first">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card-img-top-second"><strong>NIVEL ACADÉMICO</strong></div>
                <div class="card-body">
                    <img src="assets/util/S.jpg" class="rounded float-end" height="150" alt="">
                    <h5 class="card-title">ECONOMÍA Y GESTIÓN DE LAS ORGANIZACIONES</h5>
                    <p class="card-text"></p>
                        <ul>
                            <li>Primaria y Secundaria completa en el Instituto Santa María de los Ángeles</li>
                        </ul>  
                    <a href="https://www.ismamendoza.edu.ar" class="btn btn-primary">Sitio Web</a>
                <br>
                <br>
                    <h5 class="card-title">ARMADO Y REPARACIÓN DE PC</h5>
                    <img src="assets/util/N.png" class="rounded float-end" alt="">
                    <p class="card-text"></p>
                    <ul>
                        <li>INTRODUCCIÓN A LA ARQUITECTURA DE LAS COMPUTADORAS</li>
                        <li>LA ELECTRICIDAD Y LA ELECTRÓNICA DE LOS EQUIPOS DE COMPUTADORAS</li>
                        <li>MOTHERBOARDS Y MICROS</li>
                        <li>FUENTES DE ALIMENTACIÓN CONMUTADA </li>
                        <li>MEMORIAS</li>
                    </ul>
                    <a href="http://www.escuelasnewton.com.ar" class="btn btn-primary">Sitio Web</a>
                </div>
            </div>
        </div>
    </div>
  </div>
  <br>