<footer>
    <div class="container">
        <img src="assets/util/ins.png" alt="instagram" height="30" width="30" >
        <a> alexiishernando</a>
        <img src="assets/util/wa.png" alt="whatsapp" height="30" width="30">
        <a> +5492615197273</a>
        <img src="assets/util/fb.png" alt="facebook" height="30" width="30">
        <a> AleXiis RuUloo Hernando</a>
        <img src="assets/util/gm.png" alt="gmail" height="30" width="35">
        <a>alexishernando91@gmail.com</a>
    </div>
  </footer> 