<form action="">
    <a name="contacto"><h2>CONTACTO</h2></a>
    <input type="text" name="nombre" placeholder="Nombre">
    <input type="text" name="correo" placeholder="Mail">
    <input type="text" name="telefono" placeholder="Teléfono">
    <textarea name="mensaje" placeholder="Escribe tu mensaje aquí..."></textarea>
    <!--<input type="button" value="ENVIAR" id="boton">-->
    <button type="submit" class="btn btn-primary">Enviar</button>
    <button type="reset" class="btn btn-secondary">Borrar</button> 
  </form>