<header>
    <div class="card">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card_first">
                        <div class="card-header-first">
                            <img [src]="miPorfolio.headerImage" class="img-top" alt="">
                            <img [src]="miPorfolio.image" class="img-perfil" alt="">
                            <img [src]="miPorfolio.programImg" class="rounded float-end img-fluid" height="250" width="250" alt="">
                            <h3>{{miPorfolio.name}}</h3>
                        </div>
                        <div class="card-body-first">
                        </div>
                        <div class="card-footer-first">
                            <h6><small>{{miPorfolio.student}}</small></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </header>
  <br>